@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: #000; /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
  background: #000; /* Color del thumb (la parte que se arrastra) */
  border-radius: 5px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background: #000; /* Color al pasar el mouse */
}

/* Para Firefox */
* {
  scrollbar-width: thin; /* Ancho delgado */
  scrollbar-color: #000 #f1f1f1; /* Color del thumb y del track */
}


.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 